@import '~bootstrap/scss/bootstrap';

.board-container {
  height: 75vh;
}

.board {
  max-height: calc(100vh - 150px);
  max-width: calc(100vh - 150px);
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vh;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  min-height: calc(100% / 3);

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 3) {
    border-bottom: 0;
  }

  background-color: white;
  color: rgb(51, 255, 0);
  text-shadow: 2px 2px rgb(0, 0, 0);

  &:hover {
    background-color: lightskyblue;
  }

  user-select: none;
}

#user-controls,
#sign-up-section,
#game-board-section,
#game-controls-section,
.toast {
  display: none;
}