@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway&display=swap');

body {
  /*
    Image found at https://unsplash.com/photos/E0AHdsENmDg
    Image was taken by Jeremy Thomas and is hosted on Unsplash
  */
  background: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2533&q=80) no-repeat fixed center;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  padding: 0px 5px;
  background-color: #000000;
  border-radius: 15px;

  &:hover {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

.display-1 {
  font-family: 'Orbitron', sans-serif;
  color: #FFFFFF;
}

#user-controls,
#sign-up-section,
#game-board-section,
#game-controls-section,
#err-alert {
  display: none;
}

/* Board Styles */
.board-container {
  height: 75vh;
}

.board {
  max-height: calc(100vh - 400px);
  max-width: calc(100vh - 400px);
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vh;
  font-family: 'Orbitron', sans-serif;
  border-right: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  min-height: calc(100% / 3);

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 3) {
    border-bottom: 0;
  }

  color: #FFFFFF;
  text-shadow: 2px 2px #000000;

  &:hover {
    background-color: rgba(2, 22, 59, 0.63);
  }

  user-select: none;
}
